# Application Port
PORT=3000

# Database Configuration (Docker)
DB_USER=admin
DB_PASSWORD=admin
DB_NAME=feedback_hub
DB_HOST=localhost
DB_PORT=5432

# Prisma Database URL
DATABASE_URL="postgresql://admin:admin@localhost:5434/feedback_hub?schema=public"